<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>||System Log||</title>
    <span th:include="fragment/header::headerPortion" th:remove="tag"/>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

    <span th:include="fragment/nevigation::nivbarPortion" th:remove="tag"/>
    <!-- Left side column. contains the logo and sidebar -->
    <span th:include="fragment/menu::menuPortion" th:remove="tag"/>

    <!-- =============================================== -->

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">

        <section class="content">
            <div class="error-page">
                <h1 style="text-align: center;" class="headline"  ><i class=" fa fa-exclamation-triangle text-danger "></i></h1>
                <h2 class="headline text-danger">Access Denied</h2>
            </div>
            <!-- /.error-page -->

        </section>
    </div>

    <!--===================================-->
    <footer class="main-footer">
        <div class="pull-right hidden-xs">
            <b>Version</b> 2.4.18
        </div>
        <strong>Copyright &copy; 2014-2019 <a href="https://adminlte.io">AdminLTE</a>.</strong> All rights
        reserved.
    </footer>

    <!-- Control Sidebar -->
    <span th:include="fragment/configuration::configPortion" th:remove="tag"/>
    <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<!-- jQuery 3 -->
<span th:include="fragment/jsRef::jsRefPortion" th:remove="tag"/>

</body>
</html>
